<%= content_for :breadcum_first, "Trang chủ" %>
<%= content_for :breadcum_first_link, admin_root_path %>
<%= content_for :breadcum_second, "Quản lý tài khoản" %>

<div class="d-flex flex-column flex-column-fluid">
  <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-0">
    <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
      <div class="page-title d-flex flex-column justify-content-center me-3">
        <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
          Quản Lý Tài Khoản
        </h1>
        <%= render "layouts/breadcrumb" %>
      </div>
    </div>
  </div>
  <div id="kt_app_content" class="app-content flex-column-fluid">
    <div id="kt_app_content_container" class="app-container container-xxl">
      <div class="card card-flush">
        <div class="card-header align-items-center py-5 gap-2 gap-md-5">
          <div class="card-title">
            <div class="d-flex align-items-center position-relative my-1">
              <i class="ki-outline ki-magnifier fs-3 position-absolute ms-5"></i>
              <%= search_form_for @q, url: admin_accounts_path do |f| %>
                <%= f.search_field :full_name_or_email_or_role_cont, 
                  class: "form-control form-control-solid w-250px ps-13", placeholder: "Tìm kiếm" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <table
            class="table align-middle table-row-dashed fs-6 gy-5"
            id="kt_ecommerce_products_table"
          >
            <thead>
              <tr
                class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0"
              >
                <th class="min-w-70px">Họ Tên</th>
                <th class="text-end min-w-100px">Email</th>
                <th class="text-end min-w-70px">Role</th>
                <th class="text-end min-w-100px">Trạng thái</th>
                <th class="text-end min-w-100px"></th>
                <th class="text-end min-w-100px"></th>
                <th class="text-end min-w-70px"></th>
              </tr>
            </thead>
            <tbody class="fw-semibold text-gray-600">
              <%= render @accounts %>
            </tbody>
          </table>
          <div class="col-sm-12 col-md-12 d-flex align-items-center justify-content-md-end">
            <%= render partial: 'shared/pagination', locals: {pagy: @pagy} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>