<div class="d-flex flex-wrap gap-2 justify-content-between mb-8">
  <div class="d-flex align-items-center flex-wrap">
    <h2 class="fw-semibold my-1">
      Phương pháp học được đóng góp
    </h2>
    <span class="badge badge-light-danger my-1">tham khảo</span>
  </div>
  <div class="d-flex">
    <a href="#" class="btn btn-sm btn-icon btn-light btn-active-light-primary me-2" data-bs-toggle="tooltip" data-bs-placement="top">
      <i class="ki-outline ki-arrow-up-down fs-2 m-0"></i>
    </a>
  </div>
</div>

<div class="separator my-6"></div>
<% if @kanji&.story_kanji %>
  <div class="d-flex flex-wrap gap-2 flex-stack cursor-pointer">
    <div class="d-flex align-items-center">
      <div class="symbol symbol-50 me-4">
        <span class="symbol-label" style="background-image: url(<%= asset_path("avt2.png") %>);"></span>
      </div>
      <div class="pe-5">
        <div class="d-flex align-items-center flex-wrap gap-1">
          <a href="#" class="fw-bold text-dark text-hover-primary">Quản trị viên</a>
          <i class="ki-outline ki-abstract-8 fs-7 text-success mx-3"></i>
          <span class="fw-semibold text-muted text-end me-8"><%= @kanji.story_kanji.created_at.strftime("%T %d/%m/%Y") %></span>
        </div>
        <div class="text-muted fw-semibold" data-kt-inbox-message="preview">
          <%= @kanji.story_kanji.content %>
        </div>
      </div>
    </div>
  </div>
<% elsif @kanji %>
  <div class="d-flex flex-wrap gap-2 flex-stack cursor-pointer">
    <div class="d-flex align-items-center">
      <div class="symbol symbol-50 me-4">
        <span class="symbol-label" style="background-image: url(<%= asset_path("avt2.png") %>);"></span>
      </div>
      <div class="pe-5">
        <div class="d-flex align-items-center flex-wrap gap-1">
          <a href="#" class="fw-bold text-dark text-hover-primary">Quản trị viên</a>
          <i class="ki-outline ki-abstract-8 fs-7 text-success mx-3"></i>
        </div>
        <div class="text-muted fw-semibold" data-kt-inbox-message="preview">
          Nếu có ý tưởng về cách học cho chữ hán này xin hãy <a href="<%= contact_path(kanji: @kanji&.chinese_character) %>">đóng góp</a> cho chúng tôi, cảm ơn bạn nhiều 
          <i class="ki-duotone ki-heart-circle text-danger">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>
        </div>
      </div>
    </div>
  </div>
<% end %>